@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope';
  background-color: #FAF9F6; /* Warna abu-abu terang sesuai desain */
  color: #333333;
  -webkit-font-smoothing: antialiased;
}